ul {
  list-style: none;
}

main {
  padding-top: 100px;
}

main section {
  padding: 2em 1.5em 2em 1.5em;
  min-width: 100%;
  min-height: 100vh;
}

.card-align {
  gap: 1rem;
  justify-content: center;
}

.card-align .card {
  width: 370px;
}